$primary-surface-color: #121212;

// https://material.io/resources/color/#!/?view.left=1&view.right=0&primary.color=ffe082&secondary.color=82a1ff

$primary-color: #82A1FF;
$primary-varient: #4C73CB;
$complementary-color: #FFE082;
$analogous-color-1: #82E0FF;
$analogous-color-2: #A182FF;
$triadic-color-1: #E082FF;
$triadic-color-2: #FF82A1;
$on-primary: #000000;
$on-secondary: #000000;
$on-background: #FFFFFF;